#textdomain wesnoth-World_Painted_Blood

[textdomain]
    name="wesnoth-World_Painted_Blood"
    path="data/add-ons/World_Painted_Blood/translations"
[/textdomain]

[campaign]
    id=World_Painted_Blood
    rank=410
    name= _ "World Painted Blood"
    abbrev= _ "WPB"
    define=CAMPAIGN_WORLD_PAINTED_BLOOD
    first_scenario=01_When_the_Stillness_Comes
    icon="units/undead-necromancers/ancient-lich.png~RC(magenta>red)"
    image="units/human-outlaws/ranger.png~RC(magenta>red)"
    type=sp
    allow_difficulty_change=yes
    {CAMPAIGN_DIFFICULTY EASY "units/human-outlaws/poacher.png~RC(magenta>red)" ( _ "Tracker") ( _ "Normal")}
    {CAMPAIGN_DIFFICULTY NORMAL "units/human-outlaws/trapper.png~RC(magenta>red)" ( _ "Hunter") ( _ "Challenging")}
    {DEFAULT_DIFFICULTY}
    {CAMPAIGN_DIFFICULTY HARD "units/human-outlaws/ranger.png~RC(magenta>red)" ( _ "Blooded Hunter") ( _ "Difficult")}
    description= _ "A Hunter searching for the source of an undead invasion falls beneath the Swamp of Esten and discovers a subterranean kingdom preparing to conquer Wesnoth. Rescue the living, spend them as shields and bait, or survive by some path between.

(Horror campaign, 20 scenarios. Initial test build for Wesnoth 1.18.)"
    [about]
        title= _ "Campaign concept, design, and narrative"
        [entry]
            name="Bryant Family"
        [/entry]
    [/about]
    [about]
        title= _ "Initial WML implementation"
        [entry]
            name="Generated development build"
            comment= _ "Designed for iterative playtesting and revision"
        [/entry]
    [/about]
[/campaign]

#ifdef CAMPAIGN_WORLD_PAINTED_BLOOD
[binary_path]
    path=data/add-ons/World_Painted_Blood
[/binary_path]

{~add-ons/World_Painted_Blood/utils}
[units]
    {~add-ons/World_Painted_Blood/units}
[/units]
{~add-ons/World_Painted_Blood/scenarios}
#endif
